.button {
  border: none;
  color: white;
  padding: 3px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 1px 1px;
  cursor: pointer;
  background-color: mediumseagreen;
}

.listProduct{
    position: absolute;
    top: 100px;
    left:50px;
}

.btn-primary {
  color: white !important;
  background-color: mediumseagreen !important;
  border-color: #39ac6d !important
}

.btn-primary:hover {
  color: white !important;
  background-color: #39ac6d !important;
  border-color: #339961 !important
}

.btn-secondary {
  color: white !important;
  background-color: #b43c3c !important;
  border-color: #ac3939 !important
}

.btn-secondary:hover {
  color: white !important;
  background-color: #ac3939 !important;
  border-color: #993333 !important
}

.navbar {
    color: white !important;
    background-color: mediumseagreen !important; /* For browsers that do not support gradients */
    background-image: linear-gradient(70deg, mediumseagreen, slateblue) !important;
    opacity: 0.7 !important; 
    font-family: sans-serif !important;
}