.BorderDiv {
    position: absolute;
    border:1px solid black;
    width:100%;
    height: 100%;
    margin:auto;
}

.Header {
    position: absolute;
    width:100%;
    height:100px;
    text-align: center;
    color: white;
    background-color: mediumseagreen; /* For browsers that don't support gradients */
    background-image: linear-gradient(70deg, mediumseagreen, slateblue);
}

.ShoppingCart {
    position: absolute;
    text-align: right;
    top:90px;
    right:25px;
}

.Login {
    position: absolute;
    text-align: right;
    top:90px;
    right:175px;
}

.FruitsVeggies {
    position:absolute;
    text-align: left;
    top:90px;
}
.FVBorder {
    position:absolute;
    border:4px solid black;
    left:10px;
    width:1640px;
    height:175px;
    overflow:auto;
    scroll-behavior: smooth;
}

.FishMeat {
    position:absolute;
    text-align: left;
    top:325px;
}
.FMBorder {
    position:absolute;
    border:4px solid black;
    left:10px;
    width:1640px;
    height:175px;
    overflow:auto;
    scroll-behavior: smooth;
}

.DairyEggs {
    position:absolute;
    text-align: left;
    top:560px;
}
.DEBorder {
    position:absolute;
    border:4px solid black;
    left:10px;
    width:1640px;
    height:175px;
    overflow:auto;
    scroll-behavior: smooth;
}

.Footer{
    position: absolute;
    width:100%;
    height:70px;
    background-color: mediumseagreen; /* For browsers that don't support gradients */
    background-image: linear-gradient(70deg, mediumseagreen, slateblue);
    bottom: 0px;
    color:white;
    text-align: center;
  }

  