.BorderDiv {
    position: absolute;
    border:1px solid black;
    width:100%;
    height: 100%;
    margin:auto;
}

.Header {
    position: absolute;
    width:100%;
    height:100px;
    text-align: center;
    color: white;
    background-color: #004d00;
}

.LoginForm {
    position:absolute;
    width:1700px;
    height:600px;
    text-align: center;
    bottom:20px;
}

.forgotBtn{
    border:none;
    cursor: pointer;
}

.SignUpForm {
    position:absolute;
    width:1700px;
    height:600px;
    text-align: center;
    bottom:20px;
}

.SignUp {
    position: absolute;;
    bottom:100px;
    left:50px;
}

.ReturnHome {
    position: absolute;;
    bottom:100px;
    right:50px;
}

.Footer{
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: #004d00;
    bottom: 0px;
    color:white;
    text-align: center;
  }

  .shoppingList{
    position: absolute;
    top:18%;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    text-align:center;
    margin: center;
  }

.continueShopping{
    position: absolute;;
    top:100px;
    right:50px;
}

.checkOut{
    position: absolute;
    bottom:40%;
    margin-left: 60%;
}